[
  {
    "server": "127.0.0.1",
    "port": 3128,
    "user": "user1",
    "password": "example-password-1"
  },
  {
    "server": "127.0.0.1",
    "port": 3128,
    "user": "user2",
    "password": "example-password-2"
  },
  {
    "server": "127.0.0.1",
    "port": 3128,
    "user": "user3",
    "password": "example-password-3"
  }
]
